<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav>
        <p><button class="hamburger-button" mat-button (click)="sidenav.toggle()">
            <mat-icon>close</mat-icon>
        </button></p>
        <ul class="menu-options">
            <li #projects>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="menu-option-icon">laptop</mat-icon>Projects
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-projects></app-projects>
                </mat-expansion-panel>
                <hr>
            </li>
            <li #companies>      
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="menu-option-icon">work</mat-icon>Companies
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-companies></app-companies>
                </mat-expansion-panel>
                <hr>
            </li>
            <li #accountsettings>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="menu-option-icon">settings</mat-icon>Account Settings
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-companies></app-companies>
                </mat-expansion-panel>
                <hr>
            </li>
            <li #logout>

                <button mat-raised-button routerLink="/login" class="btn btn-primary"> 
                        <mat-icon class="menu-option-icon">person-outline

                        </mat-icon>Log Out
                </button>
                <hr>
            </li>
        </ul>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <p><button class="hamburger-button" mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button></p>
    </mat-sidenav-content>
</mat-sidenav-container>

