.menu-options {
    list-style: none;
    padding: 10vh 0 0 0;
}

.accountsettings, .logoutitem {
    padding: 0 1em;
}

.accountsettings {
    padding-top: 1em;
}

mat-expansion-panel, .logout {
    background-color: var(--color-primary);
    text-align: left;
    width: 13vw;
    min-height: 5vh;
}

mat-icon, mat-panel-title, .logout {
    color: var(--color-background-light);
}

mat-icon {
    padding-right: 2vw;
}

::ng-deep .mat-expansion-indicator:after {
    color: #FEFEFE;
}

.expansionpanellist {
    list-style: none;
    padding-top: 0;
    padding-left: 0;
}

.expansionpanellist li a {
    text-decoration: none;
    color: var(--color-background-light);
}

.expansionpanelitems {
    padding: 1vh 0;
}

.expansionpanelitems:first-of-type {
    padding-top: 2vh;
}

::ng-deep .mat-expansion-panel-content {
    background-color: var(--color-primary);
}

.menulogo {
    position: absolute;
    width: 10vw;
    margin-left: 2vw;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    mat-expansion-panel, .logout {
        width: 90vw;
        min-height: 5vh;
    }

    mat-icon {
        padding-right: 10vw;
    }

    ::ng-deep .logout {
        font-size: 20px;
    }

    .menulogo {
        margin-left: 15vw;
        width: 70vw;
    }

    mat-panel-title {
        font-size: 20px;
    }
}

@media screen and (max-height: 650px) {
    .menu-options {
        padding-top: 12.5vh;
    }
}