*{
    font-family: "roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.box{
    position: relative;
    height: 90%;
    width: 90%;
    max-width: 800px;
    padding: 16px;
    margin: auto;
    background: var(--color-background-dark);
    box-sizing: border-box;
    border-radius: 10px;
    overflow:scroll;
    z-index: 1;
    margin-top: 2vh;
    min-height: calc(78vh - 50px);
    overflow-y: scroll;
} 

input:-internal-autofill-selected{
    background: var(--color-text-tertairy) !important;
}

form, form:active, form:focus {
    color: var(--color-text-primary);
}
.form-field-date{
    width: 100%;
}
hr{
    margin: 0px;
    margin-bottom: 10px;
}
::-webkit-scrollbar { 
    display: none; 
}
input {
    padding: 0 10px;
    margin: 2px;
    height: 30px;
    color: var(--color-text-tertairy);
    position: relative;
    width: 100%;
    border-radius: 15px;
    background: var(--color-background-light);
    font-size: 1.2em;
}
textarea{
    display: block;
    position: relative;
    width: 100%;
    border-radius: 15px;
    background: var(--color-background-light);
    border: none;
    font-size: 1.2em;
    color: var(--color-text-tertairy);

}
select {
    border: none;
    padding: 0 10px;
    margin: 2px;
    height: 30px;
    color: var(--color-text-tertairy);
    position: relative;
    width: 100%;
    border-radius: 15px;
    background: var(--color-background-light) !important;
    font-size: 1.2em;
}

.submit-button {
    font-size: 1.2em;
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    border: none;
    border-radius: 20px;
    margin: 7px;
    padding: 3px 20px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched
{
    border: 1px solid var(--color-accent-primary);
}

.title {
    position: relative;
    width: fit-content;
    color: var(--color-primary);
    margin: 9vh auto 0 auto;
    font-size: 2em;
}

@media screen and (max-height: 800px) {
    .title {
        margin: 11vh auto 0 auto;
       font-size: 1.9em;
    }
}

@media screen and (max-height: 600px) {
    .title {
        margin: 13vh auto 0 auto;
       font-size: 1.5em;
    }
}

@media(min-width: 560px){
    .box{
        width: 550px;
    }
}
