<div class="header">
    <h1>
        ACCOUNT SETTINGS
    </h1>
</div>

<div class="container">
    <div 
        class="row"    
        (popupClosed)="onClosePopup()"   
        >
        <button 
            mat-raised-button
            (click)="showChanceName()">Naam wijzigen</button>            
        <button 
            mat-raised-button  
            (click)="showChancePassword()">Wachtwoord wijzigen</button>
        <button 
            mat-raised-button
            (click)="showDeleteAccount()">Delete account</button>
    </div>
</div>