<div class="row">
    <div class="col-xs-12 col-md-offset-3">
        <div class="background1">
            <div class="alert alert-danger" *ngIf="error">
                <p>{{ error }}</p>
            </div>
            <div class="spinner" *ngIf="lisLoading"> 
                <app-loading-spinner></app-loading-spinner>
            </div>
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                <div class="form-group entry" *ngIf="!isLoginMode">
                    <label for="name" class="label">Full name</label>
                    <input type="text" #email class="form-control" ngModel name="name" required>
                </div>
                <div class="form-group entry">
                    <label for="email" class="label">Email</label>
                    <input type="email" #email class="form-control" ngModel name="email" required>
                </div>
                <div class="form-group entry">
                    <label for="password" class="label">Password</label>
                    <input type="password" #password class="form-control" ngModel name="password" required minlength="6">
                </div>
                <div class="form-group entry" *ngIf="!isLoginMode">
                    <label for="confirmPassword" class="label">Confirm password</label>
                    <input type="password" #password class="form-control" ngModel name="confirm_password" required minlength="6">
                </div>
                <div>
                    <button 
                        class="btn btn-primary" 
                        type="submit" 
                        [disabled]="!authForm.valid">
                            {{isLoginMode ? 'Login' : 'Register'}}</button>
                    <p class="link"><a (click)="onSwitchMode()">{{isLoginMode ? 'No account?' : 'Already an account?'}}</a></p>
                </div>
            </form>
        </div>
    </div>
</div>