


*{
    margin: 0;
    padding: 0;
}

.background1{
    background-color: var(--color-secondary);
    background-image: -webkit-linear-gradient(-80deg, var(--color-secondary) 30%, var(--color-primary) 20%);
    height: 100vh;
    width: 100vw;
}

form{
    top: 10vh;
    position: relative;

}

label{

    left: calc(50% - 150px);
    right: calc(50% - 150px);
    position: relative;

    width: 300px;
    padding: 20px 0;

    font-family: Verdana;
    font-weight: bold;
    font-size: 1.4em;
}

input{
    margin: 10px 0;
    left: calc(50% - 150px);
    right: calc(50% - 150px);
    position: relative;

    height: 35px;
    width: 300px;
    padding-left: 10px;

    border-style: none;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    margin-top: 30px;
    left: calc(50% - 100px);
    right: calc(50% - 100px);
    position: relative;

    width: 200px;
    height: 50px;

    font-size: 1.4em;
    background-color: var(--color-secondary);
    border-style: none;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

button:disabled, button[disabled]:hover{
    background-color: #bbb;
}

button:hover {
    background-color: var(--color-tertairy);
}

.link{
    margin-top: 20px;
    left: calc(50% - 100px);
    right: calc(50% - 100px);
    position: relative;

    width: 200px;
    text-align: center;

    font-size: 1.2em;
    font-style: none;
    cursor: pointer;

}

a{
    text-decoration: none;
    color: black;
}

a:active{
    color: var(--color-text-secondary);
}

.spinner{
    left: calc(50% - 100px);
    right: calc(50% - 100px);
    position: relative;
}

.alert{
    margin-top: 175px;
    left: calc(50% - 200px);
    right: calc(50% - 200px);
    position: absolute;

    font-size: 1.2em;
    text-align: center;

    width: 400px;
}

@media only screen and (min-height: 600px) {
  form{
    top: 30vh;
  }
}
