div.livetracker {

    /* Position */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    z-index: 1;

    /* Palette */
    --border-color: var(--color-tertairy);
    --main-color: var(--color-primary);
    --hover-color: var(--color-secondary);

}

div.livetracker.stop {

    /* Palette */
    --border-color: var(--color-accent-tertairy);
    --main-color: var(--color-accent-primary);
    --hover-color: var(--color-accent-secondary);

}

div.livetracker label {

    /* Position */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    /* Appearance */
    color: #fff;
    font-size: 3.5em;
    text-align: center;
    line-height: 1em;
    pointer-events: none;
    user-select: none;
    opacity: 0%;

    /* Animation */
    transition: opacity 0.3s;

}

div.livetracker label.active {

    opacity: 100%;

}

div.livetracker svg {

    /* Position */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;

    /* Appearance */
    fill: var(--main-color);
    cursor: pointer;

    /* Animation */
    transition: fill 0.3s;

}

div.livetracker:hover svg {

    fill: var(--hover-color);

}

div.livetracker svg.background {

    /* Position */
    width: 100%;
    height: 100%;

    /* Appearance */
    fill: var(--border-color);

}

div.livetracker svg.octagon {

    /* Position */
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;

    /* Animation */
    transition: width 0.5s, height 0.5s, fill 0.3s;

}

div.livetracker svg.octagon.active {
    width: 90%;
    height: 90%;
}

div.livetracker svg.octagon.background {
    width: 90%;
    height: 90%;
}

div.livetracker svg.octagon.active.background {
    width: 100%;
    height: 100%;
}