
<div class="row">
    <div class="text">
        <div class="col-xs-12">
            <p>Weet je zeker dat je je account wil verwijderen?</p>
        </div>
    </div>
    <div 
        class="col-xs-12">
        
        <button
            style="float: left;"
            matButton
            class="btn btn-success"
            type="button">
        Ja</button>                
    
        <button
            style="float: right;"
            matButton
            class="btn btn-danger"
            type="button"
            (click)="closeDeleteAccountPopup()">
        Nee</button>
        
    </div>
</div>