.popup{
    background-color: #fff;
    padding: 5%;
}
.input{
    width: 100%;
    padding: 5%;
    margin: 7px auto;
}

.close-bar{
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    margin-top: 2%;
    cursor: pointer;
}