<div class="popup-container">
    <div class="popup">
        <!-- <div class="close-bar">
            <span>X</span>
        </div> -->
        <form>
            <p>Oud wachtwoord</p>
            <input type="password" #password class="form-control" ngModel name="oldPassword" required minlength="6">
            
            <p>Nieuw wachtwoord</p>

            <input type="password" #password class="form-control" ngModel name="firstNewPassword" required minlength="6">

            
            <p>herhaal nieuw wachtwoord</p>
            <input type="password" #password class="form-control" ngModel name="secondNewPassword" required minlength="6">

            <p ngIf="">wachtwoord niet hetzelfde</p>


            <button
                style="float: left;"
                matButton
                class="btn btn-success"
                type="submit"
                (click)="onUpdatePassword()">
            Ja</button>                
        
            <button
                style="float: right;"
                matButton
                class="btn btn-danger"
                type="button"
                (click)="closeChangePasswordPopup()">
            Nee</button>
        </form>
            
    </div>
</div>