
<div class="row">
    <div class="col-xs-12 col-md-offset-3">
        <div class="background1">
            <form class="login-form" action="">
                <div class="form-group entry">
                    <label for="name" class="label">Full name</label>
                    <input type="text" #email class="form-control">
                </div>
                <div class="form-group entry">
                    <label for="email" class="label">Email</label>
                    <input type="email" #email class="form-control">
                </div>
                <div class="form-group entry">
                    <label for="password" class="label">Password</label>
                    <input type="password" #password class="form-control">
                </div>
                <div class="form-group entry">
                    <label for="confirmPassword" class="label">Confirm password</label>
                    <input type="password" #password class="form-control">
                </div>
                <div>
                    <button class="btn btn-primary" (click)="onRegister()">Register</button>
                    <p class="link"><a routerLink="/login">Already an account?</a></p>
                </div>
            </form>
        </div>
    </div>     
</div>