<form class="login-form" action="">
    <p>Full name</p>
    <div class="login-edit">
        <input #nameInput class="name-edit" ng-model="name" type="text">
    </div>
    <p>Email</p>
    <div class="login-edit">
        <input #emailInput class="email-edit" ng-model="email" type="text">
    </div>
    <p>Password</p>
    <div class="login-edit">
        <input #passwordInput class="password-edit" ng-model="password" type="password">
    </div>
    <p>Confirm password</p>
    <div class="login-edit">
            <input #confirmPasswordInput class="confirm-password-edit" ng-model="confirmPassword" type="password">
        </div>
    <button class="btn btn-primary">Register</button>
    <p class="link"><a href="#">I want to log in!</a></p>
</form>
