<div>
    <div 
        class="button-box"    
        (popupClosed)="onClosePopup()"   
        >
        <div class="settings-button">
            <button 
                mat-raised-button
                (click)="showChanceName()">Naam wijzigen</button>    
        </div>
        <div class="settings-button">
            <button 
                mat-raised-button  
                (click)="showChancePassword()">Wachtwoord wijzigen</button>
        </div>
        <div class="settings-button">
            <button 
                mat-raised-button
                (click)="showDeleteAccount()">Delete account</button>
        </div>
    </div>
</div>