button {
    border-radius: 5px;
    background-color: var(--color-secondary);
    padding: 0 5px;
    width: 100%;
    margin: 4px;
    color: var(--color-background-light);
}

.settings-button{
    width: 100%;
}

input{
    width: 100%;
}

.header{
    text-align: center;
    padding-bottom: 50px;
}