img {
    background-color: var(--color-background-dark);
    display: block;
    position: relative;
    padding: 30px auto;
    margin: 0 auto 10px auto;
}

.container {
    background-color: var(--color-background-dark);
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 10px;
    padding: 12px;
    width: 90%;
    max-width: 600px;
    min-height: 70%;
    border-radius: 20px;
}

.overview-list {
    position: relative;
    list-style: none;
    margin: auto;
    padding: 0;
}

.item {
    margin: auto;
}

button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999;
}
