<div class="title">Overzicht</div>

<div class="container">
    <div class="sort-bar">
        <button class="btn" (click)='changeSortByDate()'>Sorteer op {{ sortByDate ? 'project' : 'datum' }}</button>
        <select class="btn" name="" id="" *ngIf="!sortByDate" [(ngModel)]='selectedProject'>
            <option value="">Geen project</option>
          <option *ngFor="let project of projects | keyvalue" [value]="project.value.projectId">{{project.value.name}}</option>
        </select>
    </div>
    <hr>
    
    <ul class="overview-list">
        <div *ngFor="let journey of journeys">
            <li class="item">
                <app-overview-item [journey]="journey" [project]="projects[journey.projectId]" (remove)="removeListItem($event)"  *ngIf="(sortByDate || journey.projectId === selectedProject)"></app-overview-item>  
            </li>
        </div>
    </ul>
</div>

<!-- <button (click)="getJourneys()">Refresh</button> -->