.container {
    background-color: var(--color-background-dark);
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 10px;
    padding: 12px;
    width: 90%;
    max-width: 600px;
    border-radius: 20px;
    z-index: 1;
    margin-top: 2vh;
    min-height: calc(84vh - 50px);
}

.overview-list {
    position: relative;
    list-style: none;
    margin: auto;
    padding: 0;
    height: calc(82vh - 50px);
    overflow-y: auto;
}

.item {
    margin: auto;
}

button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.sort-bar .btn{
    position: relative;
    float: right;
    background-color: var(--color-primary);
    margin-left: 10px;

}

.sort-bar{
    margin-bottom: 25px;

}

hr{
    margin-top: 40px;
    border-bottom: 1px solid var(--color-primary);


}
.title {
    position: relative;
    width: fit-content;
    color: var(--color-primary);
    margin: 9vh auto 0 auto;
    font-size: 2em;
}

@media screen and (max-height: 800px) {
    .title {
        margin: 11vh auto 0 auto;
       font-size: 1.9em;
    }
}

@media screen and (max-height: 600px) {
    .title {
        margin: 13vh auto 0 auto;
       font-size: 1.5em;
    }
}
