.page {

    float: left;
    display: block;
    width: 33.333%;
    height: 100%;
    overflow: scroll;

}

app-addjourney {
    margin: 10vh 0 0 0;
}

app-overview {
    margin: 10vh 0 0 0;
}

@media screen and (max-width: 800px) {
    app-addjourney {
        margin: 12vh 0 0 0;   
    }

    app-overview {
        margin: 12vh 0 0 0;
    }
}