<button 
    mat-raised-button
    (click)="showPreview()">Naam wijzigen
</button> 

<!-- <div class="popup-container">
    <div class="popup">
        <div class="close-bar">
            <span>X</span>
        </div>
        <p>Please enter your name</p>
        <form>
            <input 
                class="input"
                type="text" 
                name="userName" 
                id="name"
                placeholder="vul je naam in">
            <button class="button">Submit</button>
        </form>
    </div>
</div> -->