.row {
    /* background-color: var(--color-background-dark); */
    border-bottom: 1px solid var(--color-background-dark);
    box-shadow: 0px 5px 15px var(--color-background-dark);
    z-index: 3;
    position: fixed;
    width: 100%;
    margin: 0;
}

.logo {
    margin: 1em 1em 1em 0;
    width: 10vw;
    float: right;
}

.hamburger-button {
    float: left;
    margin: 1em 0 1em 1em;
    padding: 0;
    background-color: var(--color-primary);
    border-radius: 5px 20px 5px;

}

mat-icon {
    color: var(--color-background-light);
}

@media screen and (max-width: 800px) {
    .logo {
        width: 50vw;
    }
}