<div class="popup-container">
    <div class="popup">
        <!-- <div class="close-bar">
            <span>X</span>
        </div> -->
        <p>Hello, USERNAME</p>
        <p>Verander je gebruikersnaam hier:</p>
        <form>
            <input
                class="input"
                type="text" 
                name="userName" 
                id="name"
                placeholder="vul je naam in">
            
            <button
                style="float: left;"
                matButton
                class="btn btn-success"
                type="submit">
            Ja</button>                
        
            <button
                style="float: right;"
                matButton
                class="btn btn-danger"
                type="button"
                (click)="closeChangeNamePopup()">
            Nee</button>
            
        </form>
            
    </div>
</div>