<nav>
    <ul>
        <li [ngClass]="{active: currentPage == 1}" (click)="currentPage = 1"><a><i class="material-icons">add</i></a></li>
        <li [ngClass]="{active: currentPage == 2}" (click)="currentPage = 2"><a><i class="material-icons">directions_car</i></a></li>
        <li [ngClass]="{active: currentPage == 3}" (click)="currentPage = 3"><a><i class="material-icons">list</i></a></li>
    </ul>
    <div id="logout" (click)="onLogout()">Logout</div>
    <div id="settings" (click)="onSettings()">Settings</div>
</nav>
