<div class="popup-container">
    <div class="popup">
        <div class="close-bar">
            <span>X</span>
        </div>
        <p>Oud wachtwoord</p>
        <form>
            <input 
                class="input"
                type="text" 
                name="" 
                id="oldpassword"
                placeholder="">
            
            <p>Nieuw wachtwoord</p>

            <input 
                class="input"
                type="text" 
                name="userName" 
                id="newpassword"
                placeholder="">
            
            <p>herhaal nieuw wachtwoord</p>
            <input 
                class="input"
                type="text" 
                name="userName" 
                id="newpassword"
                placeholder="">

            <button
                style="float: left;"
                matButton
                class="btn btn-success">
            Ja</button>                
        
            <button
                style="float: right;"
                matButton
                class="btn btn-danger">
            Nee</button>
        </form>
            
    </div>
</div>