.popup{
    background-color: var(--color-background-secondairy);
    padding: 5%;
}
.input{
    width: 100%;
    padding: 5%;
    margin: 7px auto;
}

.incorrect-password{
    color: var(--color-accent-primary);

}

.close-bar{
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    margin-top: 2%;
    cursor: pointer;
}