<div class="popup-container">
    <div class="popup">
        <!-- <div class="close-bar">
            <span>X</span>
        </div> -->
        <form
            [formGroup]="passwordForm" 
            (ngSubmit)="onUpdatePassword(passwordForm.value)"
            autocomplete="off">
            <p>Oud wachtwoord</p>
            <input 
                type="password" #password 
                class="form-control" 
                formControlName="oldPassword" 
                placeholder=""
                required minlength="8">

            <p 
                class="incorrect-password"
                *ngIf="!oldPasswordBool"   
                >Wachtwoord niet overeen
            </p>

            <hr>
            
            <p>Nieuw wachtwoord</p>

            <input 
                type="password" #password 
                class="form-control" 
                formControlName="firstNewPassword" 
                placeholder=""
                required minlength="8">

            
            <p>herhaal nieuw wachtwoord</p>
            <input 
                type="password" #password 
                class="form-control" 
                formControlName="secondNewPassword" 
                placeholder=""
                required minlength="8">
            <p 
                class="incorrect-password"
                *ngIf="!newPasswordBool"   
                >Wachtwoord niet overeen
            </p>

            <div class="comfirm-button">
                <button
                    style="float: left;"
                    matButton
                    class="btn btn-success"
                    type="submit"
                    [disabled]="!passwordForm.valid">
                Opslaan</button>                
            
                <button
                    style="float: right;"
                    matButton
                    class="btn btn-danger"
                    type="button"
                    (click)="closeChangePasswordPopup()">
                Cancel</button>
            </div>
        </form>
            
    </div>
</div>
