<div class="popup-container">
    <div class="popup">
        <!-- <div class="close-bar">
            <span>X</span>
        </div> -->
        <form
            [formGroup]="passwordForm" 
            (ngSubmit)="onUpdatePassword(passwordForm.value)"
            autocomplete="off">
            <p>Oud wachtwoord</p>
            <input 
                type="password" #password 
                class="form-control" 
                formControlName="oldPassword" 
                placeholder="Oude wachtwoord"
                required minlength="6">

            <hr>
            
            <p>Nieuw wachtwoord</p>

            <input 
                type="password" #password 
                class="form-control" 
                formControlName="firstNewPassword" 
                placeholder="Nieuwe wachtwoord"
                required minlength="6">

            
            <p>herhaal nieuw wachtwoord</p>
            <input 
                type="password" #password 
                class="form-control" 
                formControlName="secondNewPassword" 
                placeholder="herhaal niew wachtwoord"
                required minlength="6">
            <p 
                class="incorrect-password"
                *ngIf="!passwordBool"   
                >Wachtwoord niet overeen</p>


            <button
                style="float: left;"
                matButton
                class="btn btn-success"
                type="submit"
                [disabled]="!passwordForm.valid">
            Ja</button>                
        
            <button
                style="float: right;"
                matButton
                class="btn btn-danger"
                type="button"
                (click)="closeChangePasswordPopup()">
            Nee</button>
        </form>
            
    </div>
</div>
