/* You can add global styles to this file, and also import other style files */

:root {

    --color-background-light: #fff;
    --color-background-medium: #e0e0e0;
    --color-background-dark: #ebedee;
    --color-text-primary: #34495e;
    --color-text-secondary: #fff;
    --color-text-tertairy: #888;
    --color-text-autofill: #dd1ddd;
    --color-primary: #1abc9c;
    --color-secondary: #159B81;
    --color-tertairy: #009373;
    --color-quartairy: #00624D;
    --color-checkmark-true: #00C400;
    --color-checkmark-false: #8E8E8E;
    --color-accent-primary: #FF4500;
    --color-accent-secondary: #d83a01;
    --color-accent-tertairy: #8f2701;
    --color-shadow: rgb(32, 32, 32);
    
}

html, body { position: fixed; height: 100vh; width: 100vw; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
