/* You can add global styles to this file, and also import other style files */

:root {

    --color-background-light: #fff;
    --color-background-dark: #ebedee;
    --color-text-primary: #34495e;
    --color-text-secondary: #fff;
    --color-text-tertairy: #888;
    --color-primary: #1abc9c;
    --color-secondary: #159B81;
    --color-tertairy: #009373;

}

html, body { position: fixed; height: 100vh; width: 100vw; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
