<form class="login-form" action="">
    <p>Email</p>
    <div class="email-edit">
        <input class="login-edit email-edit" type="text">
    </div>
    <p>Password</p>
    <div class="password-edit">
        <input class="login-edit password-edit" type="password">
    </div>
    <button class="btn btn-primary">Log in</button>
    <!-- Hieronder weghalen voor weghalen -->
    <div class="row">
        <button routerLink="/main" class="btn btn-primary">Auto Login</button>
    </div>
    <!-- ja hierboven en niet hieronder -->
    <p class="link"><a href="/register">Make an account</a></p>
</form>