
<ul class="menu-options">
    <li class="accountsettings">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="menu-option-icon">settings</mat-icon>Account Settings
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-account-settings></app-account-settings>
        </mat-expansion-panel>
        <hr>
    </li>
    <li class="logoutitem">
        <button mat-raised-button (click)="onLogout()" class="logout"> 
                <mat-icon class="menu-option-icon">person-outline</mat-icon>Log Out
        </button>
        <hr>
    </li>
</ul>
<img class="menulogo" src="../../../../assets/digitalefactuur.png" alt="Digitale Factuur">


